# -------------------------------------------------------------------------------------------------
# app
# -------------------------------------------------------------------------------------------------
NEXT_PUBLIC_APP_BASE_URL="http://localhost:3000"
# acdh-ch imprint service
NEXT_PUBLIC_REDMINE_ID="22513"
# web crawlers
NEXT_PUBLIC_BOTS="disabled"
# validate environment variables
ENV_VALIDATION="enabled"

# -------------------------------------------------------------------------------------------------
# email
# -------------------------------------------------------------------------------------------------
# report submission notifications
EMAIL_ADDRESS=
# contact form notifications (for current year)
EMAIL_CONTACT_ADDRESS=
EMAIL_SMTP_PORT=
EMAIL_SMTP_SERVER=

TEST_EMAIL_CONTACT_ADDRESS=
TEST_EMAIL_SMTP_PORT=
TEST_EMAIL_SMTP_SERVER=
TEST_EMAIL_USER_NAME=
TEST_EMAIL_PASSWORD=

# -------------------------------------------------------------------------------------------------
# database
# -------------------------------------------------------------------------------------------------
DATABASE_URL="postgresql://dariah_unr:dariah_unr@localhost:5432/dariah_unr?schema=dariah_unr"
DATABASE_DIRECT_URL="postgresql://dariah_unr:dariah_unr@localhost:5432/dariah_unr?schema=dariah_unr"

# -------------------------------------------------------------------------------------------------
# admin user
# -------------------------------------------------------------------------------------------------
DATABASE_ADMIN_USER_EMAIL=
DATABASE_ADMIN_USER_NAME=
DATABASE_ADMIN_USER_PASSWORD=

# -------------------------------------------------------------------------------------------------
# test user
# -------------------------------------------------------------------------------------------------
DATABASE_TEST_USER_COUNTRY_CODE=
DATABASE_TEST_USER_EMAIL=
DATABASE_TEST_USER_NAME=
DATABASE_TEST_USER_PASSWORD=

# -------------------------------------------------------------------------------------------------
# sshoc marketplace
# -------------------------------------------------------------------------------------------------
SSHOC_MARKETPLACE_API_BASE_URL=
SSHOC_MARKETPLACE_BASE_URL=
SSHOC_MARKETPLACE_PASSWORD=
SSHOC_MARKETPLACE_USER_NAME=

# -------------------------------------------------------------------------------------------------
# analytics
# -------------------------------------------------------------------------------------------------
# NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_MATOMO_BASE_URL="https://matomo.acdh.oeaw.ac.at"
# NEXT_PUBLIC_MATOMO_ID=

# -------------------------------------------------------------------------------------------------
# keystatic cms
# -------------------------------------------------------------------------------------------------
# KEYSTATIC_GITHUB_CLIENT_ID=
# KEYSTATIC_GITHUB_CLIENT_SECRET=
# KEYSTATIC_SECRET=
# NEXT_PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
# NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO_NAME="dariah-unr"
# NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO_OWNER="dariah-eric"
# NEXT_PUBLIC_KEYSTATIC_MODE="github"

# -------------------------------------------------------------------------------------------------
# sentry error reporting
# -------------------------------------------------------------------------------------------------
# NEXT_PUBLIC_SENTRY_DSN=
# NEXT_PUBLIC_SENTRY_ORG="acdh-ch"
# NEXT_PUBLIC_SENTRY_PROJECT="dariah-unr"
# SENTRY_AUTH_TOKEN=

# -------------------------------------------------------------------------------------------------
# image service
# -------------------------------------------------------------------------------------------------
IMGPROXY_BASE_URL=
IMGPROXY_KEY=
IMGPROXY_SALT=

S3_ACCESS_KEY=
S3_BUCKET=
S3_HOST=
S3_PORT=
S3_PROTOCOL=
S3_SECRET_KEY=
