# dependencies
node_modules/
.pnpm-store/

# logs
*.log

# non-public environment variables
.env.local
.env.*.local

# caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# vercel
.vercel

# misc
.DS_Store
.idea/

# next.js
.next/
next-env.d.ts
out/

# i18n
/content/**/*.d.json.ts
/messages/**/*.d.json.ts

# test
/coverage/

# playwright
/blob-report/
/playwright/.cache/
/playwright-report/
/test-results/
