/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable color-no-hex */
/* stylelint-disable custom-property-empty-line-before */

@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-react-aria-components";

@custom-variant dark (
	&:where(
		[data-ui-color-scheme="dark"],
		[data-ui-color-scheme="dark"] *,
		.kui-theme.kui-scheme--dark,
		.kui-theme.kui-scheme--dark *
		)
);

@theme inline {
	--breakpoint-xs: 30rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: 96rem;
	--breakpoint-3xl: 120rem;

	--font-body: var(--_font-body, var(--default-font-family));

	--text-2xs: 0.625rem;
	--text-2xs--line-height: 0.75rem;
	--text-md: var(--text-base);
	--text-md--line-height: var(--text-base--line-height);

	--radius-sm: 2px;
	--radius-md: 4px;
	--radius-lg: 8px;

	--color-brand: #069;

	--color-neutral-0: #fff;
	--color-neutral-1000: #000;

	--color-negative-50: var(--color-red-50);
	--color-negative-100: var(--color-red-100);
	--color-negative-200: var(--color-red-200);
	--color-negative-300: var(--color-red-300);
	--color-negative-400: var(--color-red-400);
	--color-negative-500: var(--color-red-500);
	--color-negative-600: var(--color-red-600);
	--color-negative-700: var(--color-red-700);
	--color-negative-800: var(--color-red-800);
	--color-negative-900: var(--color-red-900);
	--color-negative-950: var(--color-red-950);

	--color-positive-50: var(--color-green-50);
	--color-positive-100: var(--color-green-100);
	--color-positive-200: var(--color-green-200);
	--color-positive-300: var(--color-green-300);
	--color-positive-400: var(--color-green-400);
	--color-positive-500: var(--color-green-500);
	--color-positive-600: var(--color-green-600);
	--color-positive-700: var(--color-green-700);
	--color-positive-800: var(--color-green-800);
	--color-positive-900: var(--color-green-900);
	--color-positive-950: var(--color-green-950);

	--color-accent-50: var(--color-sky-50);
	--color-accent-100: var(--color-sky-100);
	--color-accent-200: var(--color-sky-200);
	--color-accent-300: var(--color-sky-300);
	--color-accent-400: var(--color-sky-400);
	--color-accent-500: var(--color-sky-500);
	--color-accent-600: var(--color-sky-600);
	--color-accent-700: var(--color-sky-700);
	--color-accent-800: var(--color-sky-800);
	--color-accent-900: var(--color-sky-900);
	--color-accent-950: var(--color-sky-950);
}

@layer base {
	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			transition-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			scroll-behavior: auto !important;
		}
	}

	/** Scale up hit targets on high resolution mobile devices. */
	@media (resolution >= 200dpi) {
		:root {
			font-size: 18px;
		}
	}

	:root,
	[data-ui-color-scheme="light"] {
		--color-background: var(--color-neutral-0);
		--color-on-background: var(--color-neutral-950);
		--color-surface: var(--color-neutral-0);
		--color-on-surface: var(--color-neutral-950);
		--color-overlay: var(--color-neutral-0);
		--color-on-overlay: var(--color-neutral-950);
		--color-primary: var(--color-neutral-900);
		--color-on-primary: var(--color-neutral-50);
		--color-secondary: var(--color-neutral-100);
		--color-on-secondary: var(--color-neutral-900);
		--color-muted: var(--color-neutral-100);
		--color-on-muted: var(--color-neutral-500);
		--color-accent: var(--color-neutral-100);
		--color-on-accent: var(--color-neutral-900);
		--color-negative: var(--color-red-500);
		--color-on-negative: var(--color-neutral-50);
		--color-positive: var(--color-green-500);
		--color-on-positive: var(--color-neutral-50);
		--color-notice: var(--color-orange-500);
		--color-on-notice: var(--color-neutral-50);
		--color-informative: var(--color-sky-500);
		--color-on-informative: var(--color-neutral-50);
		--color-border: var(--color-neutral-200);
		--color-input: var(--color-neutral-200);
		--color-focus-ring: var(--color-neutral-950);

		color-scheme: light;
	}

	[data-ui-color-scheme="dark"] {
		--color-background: var(--color-neutral-950);
		--color-on-background: var(--color-neutral-50);
		--color-surface: var(--color-neutral-950);
		--color-on-surface: var(--color-neutral-50);
		--color-overlay: var(--color-neutral-950);
		--color-on-overlay: var(--color-neutral-50);
		--color-primary: var(--color-neutral-50);
		--color-on-primary: var(--color-neutral-900);
		--color-secondary: var(--color-neutral-800);
		--color-on-secondary: var(--color-neutral-50);
		--color-muted: var(--color-neutral-800);
		--color-on-muted: var(--color-neutral-400);
		--color-accent: var(--color-neutral-800);
		--color-on-accent: var(--color-neutral-50);
		--color-negative: var(--color-red-900);
		--color-on-negative: var(--color-red-50);
		--color-positive: var(--color-green-900);
		--color-on-positive: var(--color-green-50);
		--color-notice: var(--color-orange-900);
		--color-on-notice: var(--color-orange-50);
		--color-informative: var(--color-sky-900);
		--color-on-informative: var(--color-sky-50);
		--color-border: var(--color-neutral-800);
		--color-input: var(--color-neutral-800);
		--color-focus-ring: var(--color-neutral-300);

		color-scheme: dark;
	}

	:root,
	[data-ui-color-scheme="light"] {
		background-color: var(--color-neutral-0);
		color: var(--color-neutral-600);
	}

	[data-ui-color-scheme="dark"] {
		background-color: var(--color-neutral-900);
		color: var(--color-neutral-400);
	}

	*,
	*::after,
	*::before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	:root {
		--webkit-tap-highlight-color: transparent;

		font-family: var(--font-body);
		overflow-wrap: break-word;
		block-size: 100%;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		text-size-adjust: none;
	}

	body {
		block-size: 100%;
	}

	:focus {
		outline: none;
	}

	:focus-visible {
		outline: 2px solid var(--color-focus-ring);
		outline-offset: 0;
	}

	a {
		text-underline-offset: 0.15em;
	}

	p {
		text-wrap: pretty;
	}

	table {
		font-variant-numeric: tabular-nums;
	}
}

@layer utilities {
	.prose {
		--tw-prose-body: var(--color-neutral-700);
		--tw-prose-headings: var(--color-neutral-900);
		--tw-prose-lead: var(--color-neutral-600);
		--tw-prose-links: var(--color-neutral-900);
		--tw-prose-bold: var(--color-neutral-900);
		--tw-prose-counters: var(--color-neutral-500);
		--tw-prose-bullets: var(--color-neutral-300);
		--tw-prose-hr: var(--color-neutral-200);
		--tw-prose-quotes: var(--color-neutral-900);
		--tw-prose-quote-borders: var(--color-neutral-200);
		--tw-prose-captions: var(--color-neutral-500);
		--tw-prose-code: var(--color-neutral-900);
		--tw-prose-pre-code: var(--color-neutral-200);
		--tw-prose-pre-bg: var(--color-neutral-800);
		--tw-prose-th-borders: var(--color-neutral-300);
		--tw-prose-td-borders: var(--color-neutral-200);

		max-width: none;
	}

	[data-ui-color-scheme="dark"] .prose {
		--tw-prose-body: var(--color-neutral-300);
		--tw-prose-headings: var(--color-neutral-0);
		--tw-prose-lead: var(--color-neutral-400);
		--tw-prose-links: var(--color-neutral-0);
		--tw-prose-bold: var(--color-neutral-0);
		--tw-prose-counters: var(--color-neutral-400);
		--tw-prose-bullets: var(--color-neutral-600);
		--tw-prose-hr: var(--color-neutral-700);
		--tw-prose-quotes: var(--color-gray-100);
		--tw-prose-quote-borders: var(--color-neutral-700);
		--tw-prose-captions: var(--color-neutral-400);
		--tw-prose-code: var(--color-neutral-0);
		--tw-prose-pre-code: var(--color-neutral-300);
		--tw-prose-pre-bg: --alpha(var(--color-neutral-1000) / 50%);
		--tw-prose-th-borders: var(--color-neutral-600);
		--tw-prose-td-borders: var(--color-neutral-700);
	}
}

@utility container {
	width: 100%;
	max-width: var(--breakpoint-2xl);
	margin-inline: auto;
	padding-inline: --spacing(4);
}

@utility container {
	@variant md {
		padding-inline: --spacing(8);
	}
}

/** ===============================================================================================
 * Intent ui.
 * ============================================================================================= */

@layer theme {
	:root {
		--bg: var(--color-white);
		--fg: var(--color-neutral-950);

		--primary: var(--color-blue-600);
		--primary-fg: var(--color-white);

		--primary-subtle: theme("color-blue-500/15%");
		--primary-subtle-fg: var(--color-blue-700);

		--secondary: var(--color-neutral-100);
		--secondary-fg: var(--color-neutral-950);

		--overlay: var(--color-white);
		--overlay-fg: var(--color-neutral-950);

		--accent: var(--color-neutral-200);
		--accent-fg: var(--color-neutral-950);

		--muted: var(--color-neutral-100);
		--muted-fg: var(--color-neutral-600);

		--success: var(--color-emerald-600);
		--success-fg: var(--color-white);

		--success-subtle: theme("color-emerald-500/15%");
		--success-subtle-fg: var(--color-emerald-700);

		--info: var(--color-sky-500);
		--info-fg: var(--color-white);

		--info-subtle: theme("color-sky-500/15%");
		--info-subtle-fg: var(--color-sky-700);

		--warning: var(--color-amber-400);
		--warning-fg: var(--color-amber-950);

		--warning-subtle: theme("color-amber-400/20%");
		--warning-subtle-fg: var(--color-amber-700);

		--danger: var(--color-red-600);
		--danger-fg: var(--color-red-50);

		--danger-subtle: theme("color-red-500/15%");
		--danger-subtle-fg: var(--color-red-700);

		--border: var(--color-neutral-300);
		--input: var(--color-neutral-300);
		--ring: var(--color-primary);

		--navbar: var(--color-neutral-50);
		--navbar-fg: var(--color-neutral-950);

		--sidebar: var(--color-neutral-50);
		--sidebar-fg: var(--color-neutral-950);
		--sidebar-primary: var(--color-primary-subtle);
		--sidebar-primary-fg: var(--color-primary-subtle-fg);
		--sidebar-accent: var(--color-accent);
		--sidebar-accent-fg: var(--color-neutral-950);
		--sidebar-border: oklch(90.1% 0.006 286.286deg); /* 250 */
		--sidebar-ring: var(--color-primary);

		--chart-1: var(--color-blue-600);
		--chart-2: var(--color-blue-500);
		--chart-3: var(--color-blue-400);
		--chart-4: var(--color-blue-300);
		--chart-5: var(--color-blue-200);
	}

	[data-ui-color-scheme="dark"] {
		--bg: oklch(17% 0.006 285.885deg); /* 925 */
		--fg: var(--color-neutral-50);

		--primary: var(--color-blue-600);
		--primary-fg: var(--color-white);

		--primary-subtle: theme("color-blue-500/10%");
		--primary-subtle-fg: var(--color-blue-400);

		--secondary: var(--color-neutral-800);
		--secondary-fg: var(--color-neutral-50);

		--overlay: oklch(23.4% 0.006 286.033deg);
		--overlay-fg: var(--color-neutral-50);

		--accent: oklch(32% 0.013 285.805deg);
		--accent-fg: var(--color-neutral-50);

		--muted: var(--color-neutral-900);
		--muted-fg: var(--color-neutral-400);

		--success: var(--color-emerald-600);
		--success-fg: var(--color-white);

		--success-subtle: theme("color-emerald-500/10%");
		--success-subtle-fg: var(--color-emerald-400);

		--info: var(--color-sky-500);
		--info-fg: var(--color-white);

		--info-subtle: theme("color-sky-500/10%");
		--info-subtle-fg: var(--color-sky-300);

		--warning: var(--color-amber-400);
		--warning-fg: var(--color-amber-950);

		--warning-subtle: theme("color-amber-400/10%");
		--warning-subtle-fg: var(--color-amber-400);

		--danger: var(--color-red-600);
		--danger-fg: var(--color-red-50);

		--danger-subtle: theme("color-red-500/10%");
		--danger-subtle-fg: var(--color-red-400);

		--border: oklch(30% 0.013 285.805deg);
		--input: oklch(31% 0.013 285.805deg);
		--ring: var(--color-primary);

		--navbar: var(--color-bg);
		--navbar-fg: var(--color-neutral-50);

		--sidebar: oklch(18% 0.006 285.885deg);
		--sidebar-fg: var(--color-neutral-50);
		--sidebar-primary: var(--color-primary-subtle);
		--sidebar-primary-fg: var(--color-primary-subtle-fg);
		--sidebar-accent: var(--color-neutral-800);
		--sidebar-accent-fg: var(--color-neutral-50);
		--sidebar-border: var(--color-neutral-800);
		--sidebar-ring: var(--color-primary);

		--chart-1: var(--color-blue-700);
		--chart-2: var(--color-blue-500);
		--chart-3: var(--color-blue-400);
		--chart-4: var(--color-blue-300);
		--chart-5: var(--color-blue-200);
	}
}

@theme inline {
	--font-sans:
		var(--_font-body), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	--font-mono:
		var(--_font-code), "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
		'"Liberation Mono"', '"Courier New"', "monospace";

	--font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
	--font-mono--font-feature-settings: "ss02", "zero";

	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-bg: var(--bg);
	--color-fg: var(--fg);

	--color-primary: var(--primary);
	--color-primary-fg: var(--primary-fg);

	--color-primary-subtle: var(--primary-subtle);
	--color-primary-subtle-fg: var(--primary-subtle-fg);

	--color-secondary: var(--secondary);
	--color-secondary-fg: var(--secondary-fg);

	--color-accent: var(--accent);
	--color-accent-fg: var(--accent-fg);

	--color-success: var(--success);
	--color-success-fg: var(--success-fg);

	--color-success-subtle: var(--success-subtle);
	--color-success-subtle-fg: var(--success-subtle-fg);

	--color-danger: var(--danger);
	--color-danger-fg: var(--danger-fg);

	--color-danger-subtle: var(--danger-subtle);
	--color-danger-subtle-fg: var(--danger-subtle-fg);

	--color-warning: var(--warning);
	--color-warning-fg: var(--warning-fg);

	--color-warning-subtle: var(--warning-subtle);
	--color-warning-subtle-fg: var(--warning-subtle-fg);

	--color-info-subtle: var(--info-subtle);
	--color-info-subtle-fg: var(--info-subtle-fg);

	--color-muted: var(--muted);
	--color-muted-fg: var(--muted-fg);

	--color-overlay: var(--overlay);
	--color-overlay-fg: var(--overlay-fg);

	--color-navbar: var(--navbar);
	--color-navbar-fg: var(--navbar-fg);

	--color-sidebar: var(--sidebar);
	--color-sidebar-fg: var(--sidebar-fg);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-fg: var(--sidebar-primary-fg);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-fg: var(--sidebar-accent-fg);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--radius-lg: 0.5rem;
	--radius-xs: calc(var(--radius-lg) * 0.25);
	--radius-sm: calc(var(--radius-lg) * 0.5);
	--radius-md: calc(var(--radius-lg) * 0.75);
	--radius-xl: calc(var(--radius-lg) * 1.5);
	--radius-2xl: calc(var(--radius-lg) * 2);
	--radius-3xl: calc(var(--radius-lg) * 3);
	--radius-4xl: calc(var(--radius-lg) * 4);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-border, currentColor);
	}

	* {
		text-rendering: optimizeLegibility;
		scrollbar-width: thin;
		scrollbar-color: var(--color-border) transparent;
	}

	html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-tap-highlight-color: transparent;
	}

	body {
		background-color: var(--color-bg);
		color: var(--color-fg);
	}

	::selection {
		background-color: var(--color-primary-subtle);
		color: var(--color-primary-subtle-fg);
	}

	::-webkit-scrollbar {
		width: 4px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background: var(--color-border);
	}
}
